@{
    ViewData["Title"] = "SignUp Page";
}
<h1>SignUp</h1>
<form method="post" enctype="multipart/form-data" asp-controller="Signup" asp-action="Index">
    <table>
        <tr>
            <td>User Name</td>
            <td><input required type="text" id="txtName" name="Name" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input required type="text" id="txtPassword" name="Password" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Signup" /></td>
        </tr>
    </table>
    <hr />
    
    @ViewBag.Name
</form>
